.places{
    margin: 64px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 100px*2);
    width: 100%;
}

@media screen and (max-width: 1279px){
    .places{
        max-width: calc(100% - 48px*2);
    }
}

@media screen and (max-width: 1023px){
    .places{
        max-width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 560px){
    .places{
        max-width: 100%;
    }
}
