.overview__extraheader{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 32px auto 0 auto;
    max-width: 642px;
}

@media screen and (max-width: 1023px) {
    .overview__extraheader {
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media screen and (max-width: 767px) {
    .overview__extraheader {
        font-size: 16px;
        line-height: 20px;
        margin: 16px 15px 0 15px;
    }
}