.overview__figure{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    max-width: 984px;
}

@media screen and (max-width: 1279px) {
    .overview__figure {
        min-height: 580px;
        max-width: calc(100% - (48px*2));
        margin: 56px auto 0 auto;
    }
}