.overview__note{
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 8px auto 0 auto;
    letter-spacing: 0.15em;
    width: 100%;
    max-width: calc(100% - (100px*2));
}

@media screen and (max-width: 1279px) {
    .overview__note {
        margin-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .overview__note {
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .overview__note {
        margin-left: 16px;
    }
}