.footer__list{
    list-style: none;
    margin: 0 0 24px 0;
    padding: 0;
}

@media screen and (max-width: 1279px){
    .footer__list{
        margin-left: 48px;
    }
}


@media screen and (max-width: 767px){
    .footer__list{
        margin-left: 16px;
    }
}