.overview__main-illustration{
    object-fit: cover;
    width: 100%;
    max-width: calc(100% - (100px*2));
    margin: 64px auto 0 auto;
}

@media screen and (max-width: 1279px) {
    .overview__main-illustration {
        min-height: 580px;
        max-width: calc(100% - (48px*2));
        margin: 56px auto 0 auto;
    }
}

@media screen and (max-width: 1023px) {
    .overview__main-illustration {
        min-height: 480px;
        max-width: 100%;
        margin: 56px auto 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .overview__main-illustration {
        min-height: 200px;
        max-width: 100%;
        margin: 40px auto 0 auto;

    }
}